<!-- About Section -->
    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Sobre nós</h2>
                    <h3 class="section-subheading text-muted">Conheça um pouco da nossa história</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <ul class="timeline">
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/VET-Palotina-logo.png" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>2005-2011</h4>
                                    <h4 class="subheading">UFPR - Campus Palotina</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Em janeiro de 2005, ainda sonhando com a profissão de Médica Veterinária, Tammy Lyn ingressa na UFPR-PR no Campus Palotina-PR, finalizando o curso em agosto de 2010. </p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/veterinaria-sao-jose.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>2010-2015</h4>
                                    <h4 class="subheading">Uma vasta experiência profissional</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Em novembro de 2010 a já formada Tammy se casa com André Santos e começa a fazer plantões em uma pequena clínica na cidade de São José dos Pinhais. Já em 2011 recebe uma proposta de trabalho de plantonista das 19:00h às 23:00h do renomado e muito experiente Dr. Soloel Ribeiro, na clinica Veterinária São José, e lá permaneceu até agosto de 2015, trabalhando e absorvendo muito conhecimento clinico e cirurgico com o Dr. Soloel.</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/filhotes-mimados.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>2015-2019</h4>
                                    <h4 class="subheading">Uma nova fase, um novo local</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Na metade de agosto de 2015 nasce seu primeiro filho e a Dra. Tammy precisa abrir mão de seu trabalho na clínica do Dr. Soloel e fica alguns meses se dedicando ao filho e a família, no início de 2016 recebe nova proporsta do Dr. Thiago, da excelente Clínica Veterinária Schnauzer, com quem já tinha parceria em atendimento, e passou a atender em horário comercial em uma clínica nova também na cidade de São José dos Pinhais, em uma clínica e Pet Shop Filhotes Mimados, o que lhe proporcionou ainda mais conhecimento clínico e administrativo, além de também contar com o apoio do Dr. Thiago em procedimentos cirúrgicos que ainda lhe faltavam, e ao final de 2019 nasce seu segundo filho, e mais uma vez a Dra. Tammy se licencia de sua vida profissional.</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/doctorlyn-2021.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>2020-2023</h4>
                                    <h4 class="subheading">Nasceu o consultório DoctorLyn</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Após 6 meses a Dra. Tammy volta a trabalhar no consultório Filhotes Mimados até o mês de agosto, e em novembro do mesmo ano abre o consultório Veterinário DoctorLyn no bairro Xaxim em Curitiba, continuando atender seus clientes, agora com uma nova ênfase em seus atendimentos, e tornando-se especializada em Medicina Veterinária Preventiva, o que trouxe um novo formato de abordagem no atendimento clínico e domiciliar. Passando a atender em consultório próprio teve novas oportunidades em parcerias sempre indicando os melhores especialistas aos seus pacientes clínicos e preventivos, continuando também, através de parcerias, os atendimentos cirúrgicos.</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/patinhas-beltrao.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>2023-2024</h4>
                                    <h4 class="subheading">Novo desafio, nova cidade</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">No início de 2023 atendendo a um chamado, precisou mudar-se para a cidade de Francisco Beltrão no Sudoeste do Paraná, passando a atender primeiramente na Clicia Animed do Dr. Rafael e em 2024 no Pet Shop e consultório Patinhas, sendo a Responsável Técnica e Veterinária principal.</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/fazenda-2025.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>2025 - ...</h4>
                                    <h4 class="subheading">Retornando para Curitiba e Região</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Ao final de sua missão em Francisco Beltrão, em dezembro de 2024, Dra. Tammy e família retornam para a região de Curitiba para uma nova missão, em fevereiro de 2025 passa a residir e realizar seus atendimentos principais na cidade da Fazenda Rio Grande - PR, aliando sua nova missão com sua profissão, por isso passou a atender novamente Curitiba e Região, retomando clientes e parcerias em toda a região.</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/logo.jpg" alt="">
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <h4>Faça parte
                                    <br>da nossa
                                    <br>história!</h4>
                            </div>
                        </li>
                        
                    </ul>
                </div>
            </div>
        </div>
    </section>