<!-- Services Section -->
    <section id="services">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Serviços</h2>
                    <h3 class="section-subheading text-muted">Conheça nossos serviços prestados:</h3>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <!-- Icone de Casa -->
                        <i class="fa fa-home fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Consultas em domicílio</h4>
                    <p class="text-muted">A consulta veterinária em domicílio traz mais conforto para o seu pet, que é atendido no ambiente familiar, longe do estresse de um consultório. Isso torna o momento mais tranquilo, especialmente para animais que ficam ansiosos ou têm dificuldades de locomoção. Além disso, o atendimento personalizado permite que o veterinário observe melhor o comportamento do pet e ofereça um cuidado mais atento, sem a pressão de uma visita à clínica. É uma opção ideal para quem busca mais comodidade e bem-estar para seu animal.</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <!-- Icone de Ambulancia -->
                        <i class="fa fa-ambulance fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Veterinária Preventiva</h4>
                    <p class="text-muted">Assim como cuidamos da saúde de nossos filhos, a consulta preventiva para seu pet é essencial para garantir que ele tenha uma vida longa e saudável. Ao realizar check-ups regulares, é possível identificar possíveis problemas antes que se tornem sérios, permitindo que seu pet receba o tratamento necessário de forma rápida e eficaz. Além disso, a consulta preventiva é um momento para reforçar cuidados com alimentação, vacinas e hábitos saudáveis, garantindo o bem-estar contínuo do seu companheiro. Cuidar da saúde do seu pet desde cedo é um ato de amor e dedicação.</p>
                </div>
<!--
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-stethoscope fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Consultoria Clínica</h4>
                    <p class="text-muted">Na nossa clínica, seu pet é tratado com todo o carinho e dedicação que ele merece. Oferecemos um atendimento veterinário de qualidade, com foco no bem-estar e na saúde do seu companheiro. Se seu animal de estimação precisa de um diagnóstico, tratamento especializado ou um simples check-up, estamos prontos para proporcionar o cuidado adequado. Nosso espaço foi pensado para garantir o conforto e segurança de todos os pets. Venha nos visitar e descubra como podemos contribuir para a saúde e felicidade do seu melhor amigo!</p>
                </div>
-->                
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <!-- Icone de kit medico -->
                        <i class="fa fa-medkit fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Parcerias para cirurgias</h4>
                    <p class="text-muted">Embora nossa clínica ainda não possua um centro cirúrgico próprio, garantimos o melhor atendimento possível para o seu pet, com a mesma qualidade e dedicação que você já conhece. Para procedimentos que exigem cirurgia, contamos com parcerias de confiança com especialistas e hospitais veterinários renomados, onde seu animal receberá o cuidado adequado em um ambiente totalmente preparado. Nosso compromisso é com a saúde e o bem-estar do seu pet, oferecendo sempre o melhor para ele, em todas as fases do tratamento</p>
                </div>
            </div>
        </div>
    </section>